<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyDiary App Homepage</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="header">
    <div class="first">
        <img th:src="@{/images/diary.jpg}" width="60" height="60">
    </div>
    <div class="second">MyDiary App</div>
</div>

<br/><br/>

<hr/>
<br/><br/>
<h1>Welcome <span style="color:SteelBlue" th:text="${user.username}"></span></h1> 
<a th:href="@{/signout}" style="color:red;float:right">Signout</a>

<div class="bodypart">
    <div class="bodypart1">
        <img th:src="@{/images/diary.jpg}">
    </div>
    <div class="bodypart2">
        <h1>VIEW ENTRY</h1><br/><br/><br/>
        <table>
            <tr>
                <td>Date:</td>
                <td th:text="${#dates.format(entry.entrydate, 'yyyy-MM-dd')}"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td th:text="${entry.description}"></td>
            </tr>
        </table>
        <br/><br/><br/>
        <a th:href="@{/userhome}"><button type="button">BACK TO HOME</button></a>
    </div>
</div>

</body>
</html>
