<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>MyDiary App Homepage</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="header">
    <div class="first">
        <img th:src="@{/images/diary.jpg}" width="60" height="60">
    </div>
    <div class="second">MyDiary App</div>
</div>

<br/><br/>
<hr/>

<div class="bodypart">
    <div class="bodypart1">
        <img th:src="@{/images/diary.jpg}">
    </div>

    <div class="bodypart2">
        <h1>LOGIN HERE</h1><br/><br/><br/>
        <form th:action="@{/authenticate}" method="POST">
            <label>Username</label> 
            <input type="text" name="username" class="formcontrol"><br/><br/>
            <label>Password</label> 
            <input type="password" name="password" class="formcontrol"><br/><br/><br/>
            <button type="submit">LOGIN</button>
        </form>
        <br/><br/>
        New User? <a th:href="@{/register}">Register</a> here
    </div>
</div>

</body>
</html>
